@font-face {
  font-family: 'Regola Pro';
  src: url(fonts/RegolaPro/RegolaPro-Regular.woff2) format('woff2'),
      url(fonts/RegolaPro/RegolaPro-Regular.woff) format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Regola Pro';
  src: url(fonts/RegolaPro/RegolaPro-Medium.woff2) format('woff2'),
      url(fonts/RegolaPro/RegolaPro-Medium.woff) format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Regola Pro';
  src: url(fonts/RegolaPro/RegolaPro-Bold.woff2) format('woff2'),
      url(fonts/RegolaPro/RegolaPro-Bold.woff) format('woff');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Regola Pro';
  src: url(fonts/RegolaPro/RegolaPro-Bold.woff2) format('woff2'),
      url(fonts/RegolaPro/RegolaPro-Bold.woff) format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Regola Pro';
  src: url(fonts/RegolaPro/RegolaPro-RegularOblique.woff2) format('woff2'),
      url(fonts/RegolaPro/RegolaPro-RegularOblique.woff) format('woff');
  font-style: oblique;
  font-weight: 400;
}

@font-face {
  font-family: 'Regola Pro';
  src: url(fonts/RegolaPro/RegolaPro-MediumOblique.woff2) format('woff2'),
      url(fonts/RegolaPro/RegolaPro-MediumOblique.woff) format('woff');
  font-style: oblique;
  font-weight: 500;
}

@font-face {
  font-family: 'Regola Pro';
  src: url(fonts/RegolaPro/RegolaPro-SemiBoldOblique.woff2) format('woff2'),
      url(fonts/RegolaPro/RegolaPro-SemiBoldOblique.woff) format('woff');
  font-style: oblique;
  font-weight: 600;
}

@font-face {
  font-family: 'Regola Pro';
  src: url(fonts/RegolaPro/RegolaPro-BoldOblique.woff2) format('woff2'),
      url(fonts/RegolaPro/RegolaPro-BoldOblique.woff) format('woff');
  font-style: oblique;
  font-weight: 700;
}
