@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto/Roboto-Regular.woff2) format('woff2'),
      url(fonts/Roboto/Roboto-Regular.woff) format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto/Roboto-Medium.woff2) format('woff2'),
      url(fonts/Roboto/Roboto-Medium.woff) format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto/Roboto-Bold.woff2) format('woff2'),
      url(fonts/Roboto/Roboto-Bold.woff) format('woff');
  font-style: normal;
  font-weight: 700;
}


@font-face {
  font-family: 'Space Mono';
  src: url(fonts/SpaceMono/SpaceMono-Regular.woff2) format('woff2'),
      url(fonts/SpaceMono/SpaceMono-Regular.woff) format('woff');
  font-style: normal;
  font-weight: 400;
}


@font-face {
  font-family: 'Space Mono';
  src: url(fonts/SpaceMono/SpaceMono-Bold.woff2) format('woff2'),
      url(fonts/SpaceMono/SpaceMono-Bold.woff) format('woff');
  font-style: normal;
  font-weight: 700;
}